* {
  box-sizing: border-box;
}

body {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image:url('./images/halo\ ring.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% 55%;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 660px;
  flex-wrap: wrap;
}

.grid div {
  width: 6%;
  height: 7%;
  border: 1px solid greenyellow;
  background-color:rgba(34, 33, 33, 0.295) ;
}

.player-image {
  background-image: url('./images/halo\ sabre\ sprite.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.player-laser-image {
  background-image: url('./images/covenant\ plasma\ bolt\ green\ sprite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.enemy-laser-image {
  background-image: url('./images/covenant\ plasma\ bolt\ sprite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.enemy-ship-image {
  background-image: url('./images/halo\ seraph\ sprite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.textColumn {
  color: greenyellow;
  height: 400px;
  width: 400px;
  border: greenyellow 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: x-large;
  padding: 10px;
  background-color:rgba(34, 33, 33, 0.295);
}
