body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 700px;
  flex-wrap: wrap;
  margin: 10px auto;
  border: 1px solid white;
}

.grid div {
  width: 6%;
  height: 7%;
  border: 1px solid black;
}

.player-image {
  background-color: red;
}

.player-laser-image {
  background-color: blue;
}

.enemy-ship-image {
  background-color: green;
}

.text-container {
  display: flex;
  flex-direction: row;
}
