@font-face {
  font-family: 'halo' ;
  src: url('/fonts/Halo.ttf');
}

* {
  box-sizing: border-box;
  font-family: halo;  
}

body {
  background-image: url('./images/halo\ ring\ background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: xx-large;
  color: greenyellow;
}

.title-text {
  width: 100%;
  
}

.game-div {
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row; 
}

.grid {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 660px;
  flex-wrap: wrap;
}

.grid div {
  width: 6%;
  height: 7%;
  border: 1px solid greenyellow;
  background-color: black;
  opacity: 0.9;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  width: 50vh;
  font-size: 1.5em;
}

.textColumn, .buttonsdiv, .title-text-container {
  margin: 1vh 0 1vh 0;
}

.textColumn {
  color: greenyellow;
  height: 100%;
  width: 100%;
  border: greenyellow 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color:black;
  border-radius: 2px;
  opacity: 0.9;
}

.buttonsdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.buttonstyle {
  height: 10vh;
  width:40%;
  border: 2px solid greenyellow;
  background-color: black;
  color: greenyellow;
  border-radius: 2px;
  font-size: 1.5em;
}

.player-image {
  background-image: url('./images/halo\ sabre\ sprite.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.player-laser-image {
  background-image: url('./images/covenant\ plasma\ bolt\ green\ sprite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.enemy-laser-image {
  background-image: url('./images/covenant\ plasma\ bolt\ sprite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.enemy-ship-image {
  background-image: url('./images/halo\ seraph\ sprite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}